.container{
    text-align: center;
}
.title{
    margin-top: 50px;
    color:black;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .title span{
  color:brown;
  padding-left: 15px;
 }
 .reset{
    width: 250px;
    height: 100px;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    border: none;
    background-color:burlywood ;
    font-size:26px;
    color:brown;
    margin-top: 30px;
    /* margin-bottom: 100px; */
 }
 /* .row1{
    display:flex
 } */
  .board{
     

  
 height: 600px;
 width: 564px;
 display: flex;
 margin: auto;
 
}

  
 .box{
    display: flex;
    height:180px;
    width: 180px;
    background: rgb(232, 221, 221) ;
    border:4px solid #0f1b21;
    border-radius: 12px;
    cursor:pointer;
 }
.box img{
    margin: 10px;
   
}
/* .title img{
    
} */


